<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">



<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff List</title>

</head>



<div class="center-screen">
    <form method="post" th:object="${staff}" th:action="@{/dataSubmitForm}">
        <label for="staffName">Name:</label>
        <input type="text" id="staffName" placeholder="staffName" th:field="*{staffName}" /><br/>

        <input type="hidden" th:field="*{staffId}" /><br/>

        <label for="staffPosition">Position:</label>
        <input type="text" id="staffPosition" placeholder="staffPosition" th:field="*{staffPosition}" /><br/>

        <label for="staffAge">Age:</label>
        <input type="number" id="staffAge" placeholder="staffAge" th:field="*{staffAge}" /><br/>

        <label for="staffSalary">Salary:</label>
        <input type="number" id="staffSalary" placeholder="staffSalary" th:field="*{staffSalary}" /><br/>

        <button type="submit" value="submit">Add Staff</button>
    </form>
</div>


</html>