<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff List</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        
        table,
        th,
        td {
            border: 1px solid black;
        }
        
        th,
        td {
            padding: 8px;
            text-align: left;
        }
        
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <h1>Staff List</h1>
    <table>
        <thead>
            <tr>
                <th>Staff Name</th>
                <th>Update</th>
                <th>Staff Position</th>
                <th>Staff Age</th>
                <th>Staff Salary ($)</th>
            </tr>
        </thead>
        <tbody>

            <tr th:each="oneStaff : ${staff}">
                <td th:text="${oneStaff.staffName}"></td>
                <td>
                    <a role="button" th:href="@{/(staffId=${oneStaff.staffId})}"> Edit</a>
                </td>
                <td th:text="${oneStaff.staffPosition}"></td>
                <td th:text="${oneStaff.staffAge}"></td>
                <td th:text="${oneStaff.staffSalary}"></td>

            </tr>
        </tbody>
    </table>
</body>

</html>